@use './variables.scss' as *;
@use './resume.scss'; 

@font-face {
  font-family: "Cairo"; // You can name this whatever you like
  src: url("../fonts/Cairo-Regular.ttf") format("truetype"); // Path relative to the compiled CSS output
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $primary !important;
  font-family: "Cairo", sans-serif; // Apply the font and provide a fallback
}

.ltr {
  direction: ltr;
}

#hero {
  .about-me {
    h1 {
      font-size: 5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    h2 {
      font-weight: bold;
    }
  }

  .photo {
    max-height: 500px;
    border: 1px solid #000;
  }

  .btn-links {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    transition: all 0.5s ease-in-out;
    color: black;
  
    span {
      font-size: 1.5rem;
      font-weight: 600;
    }
  
    // Reset anchor font-weight properly
    a {
      font-weight: bold;
    }
  
    &.bg-warning:hover {
      background-color: $primary !important;
      color: #ffc107; // Bootstrap's warning color
    }
  
    &.bg-info:hover {
      background-color: $primary !important;
      color: #0dcaf0; // Bootstrap's info color
    }
  
    &.bg-danger:hover {
      background-color: $primary !important;
      color: #dc3545; // Bootstrap's danger color
    }
  }
  
}

.footer {
  position: relative;
  padding-top: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height:  1px;
    background-color: $line-color;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  a {
    cursor: pointer;
  }
}


